@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.landingPage {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, #07284a 0%, #0a4070 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-family: Poppins, sans-serif;
}

.landingPage > h1 {
  text-align: left;
  padding-top: 1rem;
  padding-left: 2rem;
  font-size: 3rem;
  color: #b9dffe;
  user-select: none;
}

.content {
  /* height: 65vh; */
  width: 100%;
  display: flex;
}

.waves {
  width: 100%;
  height: 15vh;
  min-height: 200px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
